h1 {
	grid-area: 1 / 1 / 2 / 6;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: bold;
  	font-size: 28px;
}

h2 {
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: bold;
  	font-size: 19px;
}

label {
	font-family: "Georgia", Times, "Times New Roman", serif;
  	font-size: 16px;
}