#container1{
	display: grid;
	grid-templates-columns: repeat(8, 1fr);
	grid-gap: 50px;
}

h1{
	grid-area: 1 / 1 / 9 / 9;
	text-align: center;
}

h2{
	
}

#objectif-jour{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-area: 2 / 1 / 3 / 5;
}

#takt-time{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-area: 2 / 5 / 3 / 9;
}

#l-total, #l-tt-total{
	grid-area: 2 / 1 / 3 / 2;
}

#l-e1, #l-tt-e1{
	grid-area: 3 / 1 / 4 / 2;
}

#l-e2, #l-tt-e2{
	grid-area: 4 / 1 / 5 / 2;
}

#l-e3, #l-tt-e3{
	grid-area: 5 / 1 / 6 / 2;
}

#l-e4, #l-tt-e4{
	grid-area: 6 / 1 / 7 / 2;
}

#l-e5, #l-tt-e5{
	grid-area: 7 / 1 / 8 / 2;
}

#total, #tt-total{
	grid-area: 2 / 2 / 3 / 3;
}

#e1, #tt-e1{
	grid-area: 3 / 2 / 4 / 3;
}

#e2, #tt-e2{
	grid-area: 4 / 2 / 5 / 3;
}

#e3, #tt-e3{
	grid-area: 5 / 2 / 6 / 3;
}

#e4, #tt-e4{
	grid-area: 6 / 2 / 7 / 3;
}

#e5, #tt-e5{
	grid-area: 7 / 2 / 8 / 3;
}

#save-button{
	grid-area: 3 / 7 / 4 / 8;
}

#reinit-button{
	grid-area: 3 / 8 / 4 / 9;
}

#output {
	grid-area : 4 / 1 / 5 / 5;
}